<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Douyin API</title>
</head>
<body>
    <h1>Welcome to Douyin API</h1>
    <p>Use the endpoints below to interact with Douyin:</p>
    <ul>
        <li><a href="/search?q=dance">/search?q=dance</a></li>
        <li><a href="/video?url=https://douyin.com/video">/video?url=videoURL</a></li>
        <li><a href="/user?username=username">/user?username=username</a></li>
        <!-- Tambahkan endpoint lainnya sesuai kebutuhan -->
    </ul>
</body>
</html>
